.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.food-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.order-container{
    background-color: #A9CB85;
    height: 400px;
    border-radius: 10px;
    padding: 0 15px;
    position: sticky;
    top: 0;
    overflow: auto;
}

.order-container h3{
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
}


.order-container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .shop-container{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .food-info{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .order-container{
        width:400px;
    }
  }