.cart-container{
    box-shadow: 0px 0px 3px 0px #A9CB85;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 350px;
}

.cart-container p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}

.cart-img{
    text-align: center;
}
.cart-img img{
    box-shadow: 0px 0px 1px 0px #000000;
    border-radius: 5px;
}

.btn{
    text-align: right;
}
.btn button{
    background-color: #A9CB85;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.btn button:hover{
    background-color: white;
    border: 1px solid #A9CB85;
}